In [4]:
# Import the dependencies

import pandas as pd
import gmaps
import requests

# Import the API key

from config import g_key

In [5]:
# Store the CSV you saved created in part one int a dataframe
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saint-Philippe,RE,2020-05-09 20:49:59,-21.36,55.77,69.80,77,20,8.05
1,1,Wajima,JP,2020-05-09 20:49:59,37.40,136.90,58.35,91,100,13.13
2,2,Kaitangata,NZ,2020-05-09 20:49:59,-46.28,169.85,50.00,74,95,1.99
3,3,Nebolchi,RU,2020-05-09 20:50:00,59.12,33.35,38.79,74,29,2.73
4,4,Ushuaia,AR,2020-05-09 20:50:00,-54.80,-68.30,48.20,70,75,4.70

In [6]:
# The data we use for any mapping must be either an integer or a floating-point decimal number

# Get the data types

city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [7]:
# Configure gmaps to use your Google API key

gmaps.configure(api_key = g_key)

In [8]:
# 1. Assign the locations to an array of latitude and longitude pairs.

# 2. Assign the weights variable to some values.
    # an array of equal length of the locations array.
# 3. Assign the figure variable to the gmaps.figure() attribute.

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.

# 5. Add the heatmap layer.

# 6. Call the figure to plot the data.

In [9]:
# Get the maximum temperature
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [10]:
# Heatmap of temperature
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature
max_temp = city_data_df["Max Temp"]

# Assign the heatmap variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=temps,
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity

locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=humidity, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of % Cloudiness

locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=clouds, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of Wind Speed

locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=wind, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value

min_temp = float(input("What is the minimum temperature you would like to visit? "))
max_temp = float(input("what is the maximum temperature you would like to visit? "))

What is the minimum temperature you would like to visit? 60
what is the maximum temperature you would like to visit? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()

preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saint-Philippe,RE,2020-05-09 20:49:59,-21.36,55.77,69.80,77,20,8.05
5,5,Srandakan,ID,2020-05-09 20:50:00,-7.94,110.25,77.52,85,100,4.21
6,6,Hilo,US,2020-05-09 20:50:00,19.73,-155.09,78.80,65,40,6.93
8,8,Acapulco,MX,2020-05-09 20:50:00,16.86,-99.89,87.80,62,5,8.05
9,9,Nagato,JP,2020-05-09 20:50:01,34.38,131.20,66.20,100,75,6.93

In [16]:
preferred_cities_df.count()

City_ID       341
City          341
Country       341
Date          341
Lat           341
Lng           341
Max Temp      341
Humidity      341
Cloudiness    341
Wind Speed    341
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, 
# country, max temp, and coordinates

hotel_df = preferred_cities_df[["City", 
                                "Country", 
                                "Max Temp", 
                                "Lat", 
                                "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
0   Saint-Philippe      RE     69.80 -21.36   55.77
5        Srandakan      ID     77.52  -7.94  110.25
6             Hilo      US     78.80  19.73 -155.09
8         Acapulco      MX     87.80  16.86  -99.89
9           Nagato      JP     66.20  34.38  131.20
11      Bredasdorp      ZA     60.80 -34.53   20.04
13           Tabou      CI     80.92   4.42   -7.35
15           Sitka      US     66.20  57.05 -135.33
17           Vaini      TO     80.60 -21.20 -175.20
19         Rikitea      PF     75.51 -23.12 -134.97

In [18]:
# Set parameters to search for a hotel

params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame

for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Saint-Philippe,RE,69.80,-21.36,55.77,"Chambres d'hôte ""La Trinité"""
5,Srandakan,ID,77.52,-7.94,110.25,Puri Brata
6,Hilo,US,78.80,19.73,-155.09,Hilo Hawaiian Hotel
8,Acapulco,MX,87.80,16.86,-99.89,HS Hotsson Smart Acapulco
9,Nagato,JP,66.20,34.38,131.20,いそう庵
...,...,...,...,...,...,...
594,Calama,CL,75.20,-22.47,-68.93,Park Hotel Calama
596,Port Hardy,CA,64.40,50.70,-127.42,Airport Inn
597,Alta Floresta,BR,89.60,-9.88,-56.09,Floresta Amazonica Hotel
598,Minamata,JP,69.93,32.22,130.40,Hotel Sunlight
599,Hualahuises,MX,73.67,24.88,-99.67,Quinta Vazquez

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=max_temp,
                                 dissipating=False,
                                 max_intensity=300, 
                                 point_radius=4)

marker_layer = gmaps.marker_layer(locations, 
                                  info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
Linear regression on the Northern Hemisphere
x_values = northern_hemi_df["Lat"] 
y_values = northern_hemi_df["Max Temp"]
# Call the function.
plot_linear_regression(x_values, y_values,
                       'Linear Regression on the Northern Hemisphere \n
                        for Maximum Temperature', 'Max Temp',(10,40))

SyntaxError: invalid syntax (<ipython-input-22-48fc15b98f54>, line 1)